<html>
<head>
  <style>
    /* CSS styles taken from https://github.com/yegor256/tacit */
    th {
      font-weight: 600
    }

    table tr {
      border-bottom-width: 2.16px
    }

    table tr th {
      border-bottom-width: 2.16px
    }

    table tr td, table tr th {
      overflow: hidden;
      padding: 5.4px 3.6px
    }

    a {
      color: #275a90;
      text-decoration: none
    }

    a:hover {
      text-decoration: underline
    }

    * {
      border: 0;
      border-collapse: separate;
      border-spacing: 0;
      box-sizing: border-box;
      margin: 0;
      max-width: 100%;
      padding: 0;
      vertical-align: baseline;
      font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;
      line-height: 29.7px
    }

    html, body {
      width: 100%
    }

    html {
      height: 100%
    }

    body {
      background: #fff;
      color: #1a1919;
      padding: 36px
    }
  </style>
  <title>Expired due date</title>
</head>
<body>
<p>Hi <%= assignee.name %>,</p>

<p>The due date for these tasks is expired or seems to expire soon. Please plan
  them accordingly or actualize the
  <span style="font-weight:bold">"Due date"</span> field for the following
  ticket(s):</p>
<table>
  <tr>
    <th>Key</th>
    <th>Due date</th>
    <th>Priority</th>
    <th>Reporter</th>
    <th>Summary</th>
  </tr>
  <% tickets.each do |ticket| %>
    <tr>
      <td><a href="<%= ticket.url %>"><%= ticket.id %></a></td>
      <td><%= ticket.duedate %></td>
      <td><%= ticket.priority %></td>
      <td><%= ticket.reporter %></td>
      <td><%= ticket.summary %></td>
    </tr>
  <% end %>
</table>
<p>In case you have no idea what date should be set - remove obsolete date or
  ask your lead to fill it.</p>

<p>Posted by
  <a href="https://github.com/dgroup/lazylead">lazylead v<%= version %></a>.
</p>
</body>
</html>