<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* CSS styles taken from https://github.com/yegor256/tacit */
    pre, code, kbd, samp, var, output {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: 14.4px
    }

    pre code {
      background: none;
      border: 0;
      line-height: 29.7px;
      padding: 0
    }

    code, kbd {
      background: #daf1e0;
      border-radius: 3.6px;
      color: #2a6f3b;
      display: inline-block;
      line-height: 18px;
      padding: 3.6px 6.3px 2.7px
    }

    a {
      color: #275a90;
      text-decoration: none
    }

    a:hover {
      text-decoration: underline
    }

    * {
      border: 0;
      border-collapse: separate;
      border-spacing: 0;
      box-sizing: border-box;
      margin: 0;
      max-width: 100%;
      padding: 0;
      vertical-align: baseline;
      font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;
      line-height: 29.7px
    }

    html, body {
      width: 100%
    }

    html {
      height: 100%
    }

    body {
      background: #fff;
      color: #1a1919;
      padding: 36px
    }

    .commit {
      min-width: 100%;
      border-radius: 3.5px;
      overflow: hidden;
      display: inline-block;
      line-height: 15px;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      border: 1px solid #BCC6CC;
    }

    .commit * {
      padding-left: 4px;
      font-size: 8px;
      line-height: 12px;
    }
  </style>
  <title>SVN log</title>
</head>
<body>
<p>Hi,</p>
<p>The following file(s) changed since <code><%= since_rev %></code> rev in
  <a href="<%= svn_url %>"><%= svn_url %></a>:</p>
<% commits.each do |commit| %>
  <div class="commit">
    <% commit.lines.each_with_index do |line, index| %>
      <p style="background: gainsboro;">
        <% if index.zero? %>
          <a href="<%= commit_url %><%= commit.rev %>"><%= commit.rev %></a>
          by <a href="<%= user %><%= commit.author %>"><%= commit.author %></a>
          at <span style="color: #275a90;"><%= commit.time %></span>
        <% end %>
        <% if index == 1 %>
          <span style="padding-left: 4px"><%= line %></span>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
<p>Posted by
  <a href="https://github.com/dgroup/lazylead">lazylead v<%= version %></a>.
</p>
</body>
</html>